.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  background-color: cornsilk;
  padding: 1em;
  border-radius: 1em;
}

.btn-league {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.btn-league:hover {
  background-color: lightgray;
}

.btn-league.selected {
  color: blue;
  text-decoration: underline;
}
