.main-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: 5%;
  margin-right: 5%;
}

.app-title {
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: black;
}
