:host {
  background-color: mintcream;
}

.table-container {
  display: grid;
  grid-template-columns: repeat(9, auto);
  background-color: lightgray;
  grid-gap: 1px;
}

.table-item {
  padding: 0.2em;
}

.table-item-header {
  background-color: rgb(216, 236, 248);
  font-weight: bold;
}

.table-item-even {
  background-color: mintcream;
}

.table-item-odd {
  background-color: rgb(228, 241, 233);
}
